In [1]:
cnt = 5 # 조건식에 사용할 변수 생성
while cnt > 0: 
    # 반복할 내용
    print(cnt)
    cnt = cnt - 1

5
4
3
2
1

In [3]:
number = 10

for i in range(1, number + 1):  # 1 ~ 입력값 동안
        if number % i == 0:    # 만약 입력값을 i로 나눴을 때, 나누어 떨어진다면
            print(i)

1
2
5
10

### dictionary 범위에서 원소를 가져오면 key값이 나온다

In [5]:
for i in {'key1': 'val1', 'key2': 'val2', 'key3': 'val3'}:
    print(i, end = ' ')

key1 key2 key3

In [2]:
my_dict = {'key1': 'val1', 'key2': 'val2', 'key3': 'val3'}
print(my_dict.keys(), type(my_dict.keys()))
print(my_dict.values())
print(my_dict.items())

dict_keys(['key1', 'key2', 'key3']) <class 'dict_keys'>
dict_values(['val1', 'val2', 'val3'])
dict_items([('key1', 'val1'), ('key2', 'val2'), ('key3', 'val3')])

In [ ]:
new_dict = {key + '0': val for key, val in my_dict.items()}
print(new_dict)

In [ ]:
### dictionary에서 .items()로 가져온 원소는 tuple, 그냥 가져온 원소는 key값

In [8]:
list = [(i[0], i[1]) for i in my_dict.items()]
print(list)
list2 = [(i) for i in my_dict]
print(list2)

[('key1', 'val1'), ('key2', 'val2'), ('key3', 'val3')]
['key1', 'key2', 'key3']

In [ ]:
for key, val in my_dict.items():
    print(key, val)

In [ ]:
for idx, val in enumerate([1, 2, 3]):
    print(idx, val)

In [ ]:
lst = [1, 2, 3]
for i in range(len(lst)): # 인덱스로 개별 요소에 접근, 문자열은 변경 불가
    print(lst[i], end = ' ')

In [ ]:
for i in range(3):
    print('>', end = '')
    for j in range(5):
        print('*', end = '')
    print()

In [ ]:
for i in range(3):
    print(i)
    for j in range(5):
        if j % 2 == 1: 
            continue #홀수일 때 밑의 프린트를 하지 않겠다
        print('===', j)
    print()

### dictionary

In [ ]:
dictionary = {}
dictionary['coffee'] = 1 #딕셔너리에 coffee를 키값으로 줬을 때 1을 반환한다
print(dictionary['coffee'] + 1) = #value값인 1에 1을 더해 2가 된다

In [42]:
dict2 = dict(안녕 = 'hi', key = 22)
dict2
#dict()안에 key와 value를 '='로 묶어 넣어줄 수 있다

{'안녕': 'hi', 'key': 22}

In [ ]:
# 식별자는 숫자만으로는 이루어질 수가 없다는 것에 주의합니다.
# 키워드인자로 넘기면 함수 안에서 식별자(변수이름)로 쓰이기 때문입니다.

dict(1=1, 2=2)  # SyntaxError

In [66]:
# 숫자로 된 딕셔너리를 만들고 싶다면
print(dict(((1, 10), (2, 20)))) # dict()안에 tuple 2쌍을 가진 tuple을 넣기
dict2 = dict([(10, '1a'), (20, '2a')]) # dict()안에 tuple 2쌍을 가진 list를 넣기
dict2

{1: 10, 2: 20}

{10: '1a', 20: '2a'}

In [67]:
def my_dict(**kwargs):
    return kwargs

print(my_dict(한국어= 1 , 영어='hi', 독일어='Guten Tag'))

{'한국어': 1, '영어': 'hi', '독일어': 'Guten Tag'}

### list comprehension

In [ ]:
oldlist = [1, 2, 'A', False, 3]
list = [i ** i for i in oldlist if type(i) == int]
list

### set comprehension 
결과값을 리스트에 저장하고 중복된 원소를 제거하고 싶을 때

In [ ]:
oldlist = [1, 2, 3, 4, 1, 2, 2, 4, 5, 5]
list = {i for i in oldlist}
list

### dictionary comprehension

In [ ]:
my_dict = {'A': '1', 'B': '2', 'C': '3'}
new_dict = {vals for key, vals in my_dict.items()}
new_dict
my_dict.items()

In [ ]:
my_dict = {'A': 1, 'B': 2, 'C': 3}
cubic_dict = {val ** 3: name for name, val in my_dict.items()}
cubic_dict

### for문에서 try, except 사용해서 list 안에 중복된 원소 dictionary로 카운트하기

In [ ]:
orders = '아이스아메리카노,카라멜마키야또,에스프레소,아메리카노,아메리카노,아이스라떼,핫초코,아이스아메리카노,아메리카노,아이스카라멜마키야또,아이스라떼,라떼마키야또,카푸치노,라떼마키야또'
drinks = orders.split(',')
cnt_dict = {}

for cup in drinks: #음료에서 한 잔씩 빼오기
    try: cnt_dict[cup] += 1 #key에 없는 처음보는 음료라면 except, 있는 음료라면 value에 카운트 +1
    except: cnt_dict[cup] = 1 #처음 데려온 음료라면 새 key 생성, 카운트 1

cnt_dict

### %-formatting 표현식

In [ ]:
# %-formatting 은 다음과 같이 사용합니다.
print('Hello, %s' % name)
print('내 성적은 %d' % score)
print('내 성적은 %f' % score)

#### %y, %m, %A

In [20]:
import datetime
today = datetime.datetime.now()
print(f'오늘은 {today:%y}년 {today:%m}월 {today:%d}일 {today:%A}')

오늘은 23년 01월 18일 Wednesday

### n자리 숫자 표현식

In [8]:
x = 5
print('%010d' % (x))

0000000005

### 금액 표현식

In [3]:
y = 484747336
print('{:,}'.format(y))

484,747,336

### 컴퓨터식 지수 표현식

In [10]:
a = 314e+1
b = 314e-0
c = 314e-1
d = 314e-2
print(a, b, c, d)

3140.0 314.0 31.4 3.14

### 실수의 연산

In [13]:
3.5 - 3.12 == 0.38

False

In [14]:
print(3.5 - 3.12)

0.3799999999999999

In [ ]:
# 1. 기본적인 처리방법을 알아봅시다.
# 변수 a, b에 각각의 실수 값을 저장합니다.
# 그리고 abs()를 이용하여 a와 b의 차이를 구합니다.
# a와 b의 차이가 1e-10 값 이하이면 a 와 b 는 같다고 볼 수 있습니다.

In [15]:
a = 3.5 - 3.12
b = 0.38

abs(a - b) <= 1e-10 # 1e-10 = 1 * 10의 -10승

True

In [ ]:
# 2. sys 모듈을 통해 처리하는 방법을 알아봅시다.
# `epsilon` 은 부동소수점 연산에서 반올림을 함으로써 발생하는 오차 상환
# abs() 를 이용하여 a, b의 차이를 구합니다.
# a와 b의 차이가 sys.float_info.epsilon의 값 이하이면 a, b 는 같다고 볼 수 있습니다.

In [17]:
import sys
abs(a - b) <= sys.float_info.epsilon

True

In [18]:
# math.isclose() 를 이용해서 a와 b의 값이 같은지 확인할수 있습니다.
import math
math.isclose(a, b)

True

### None타입과 Boolean타입

In [21]:
print(type(None), type(True), type(False))

<class 'bool'> <class 'bool'> <class 'NoneType'>

In [22]:
bool(0)

False

In [23]:
x = 3
x is None

False

### 논리 연산자

|연산자|내용|
|---|---|
|a and b|a와 b 모두 True시만 True|
|a or b|a 와 b 모두 False시만 False|
|not a|True -> False, False -> True|

다른 언어에서 논리연산자로 주로 사용하는 `&` 과 `|`은 파이썬에서 비트 연산자입니다.

### 단축평가
* 첫 번째 값이 확실할 때, 두 번째 값은 확인 하지 않습니다.

In [25]:
'a' and 'b' #두 번째 값까지 확인한 것

'b'

In [30]:
print(0 and 'a') #첫 번째 값만 확인
print('a' or 'b') #첫 번째 값만 확인

0
a

In [31]:
print(3 and 5) #5 true랑 true라 5까지 확인
print(3 and 0) #0 true랑 false라 0까지 확인
print(0 and 3) #0 false라 0만 확인
print(0 and 0) #0 false라 0만 확인
print(0)
print(bool(0))

5
0
0
0
0
False

In [32]:
print((3 and 5) and (0 and 3))

0

In [33]:
print(5 or 3) #5
print(3 or 0) #3
print(0 or 3) #3
print(0 or 0) #0

5
3
3
0

### tuple

In [35]:
# 하나의 항목으로 구성된 튜플은 생성 시 값 뒤에 쉼표를 붙여야 합니다.
a = 1,
print(a)
print(type(a))

(1,)
<class 'tuple'>

In [36]:
# 마지막 항목에 붙은 쉼표는 생략 할 수 있습니다.
b = 1, 2, 3
print(b)
print(type(b))

(1, 2, 3)
<class 'tuple'>

### range
음의 방향으로 원소 범위 설정시 음수를 step으로 추가

In [38]:
print(list(range(0, -10)))
print(list(range(0, -10, -1)))

[]
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

### 슬라이싱 **
Sequence[start:end[:step]]

In [40]:
# 아래 코드들을 실행한 결과를 확인하여 슬라이싱의 작동 원리를 파악해봅시다.
print([1, 2, 3, 4][1:4])
print((1, 2, 3)[:2])
print(range(10)[5:8])
print('abcd'[2:4])

[2, 3, 4]
(1, 2)
range(5, 8)
cd

In [8]:
print([1, 2, 3, 4][0:4:2])
print((1, 2, 3, 4)[0:4:3])

[1, 3]
(1, 4)

### filter(function, iterable)

In [7]:
number = [1, 2, 3]
def odd(n):
    return n % 2
rlt = list(filter(odd, number))
rlt

[1, 3]

## `zip(*iterables)` 

* 복수의 iterable 객체를 모아 튜플의 모음으로 구성된 `zip object` 를 반환.

In [11]:
girls = ['jane', 'ashley', 'mary']
boys = ['justin', 'eric', 'david']

In [14]:
pair = list(zip(girls, boys))
pair

[('jane', 'justin'), ('ashley', 'eric'), ('mary', 'david')]

## lambda 함수

* 표현식을 계산한 결과 값을 반환하는 함수로, 이름이 없는 함수여서 익명함수라고도 불립니다.

* return 문을 가질 수 없고, 간단한 조건문 외의 구성이 어렵습니다.

In [16]:
def triangle_area(b, h):
    return 0.5 * b * h

In [ ]:
lambda b, h: 0.5 * b * h

In [19]:
list(map(lambda n: n%2, [1, 2, 3]))
#map(function, <iterable>)

[1, 0, 1]

## 재귀 함수(recursive function)

### 재귀를 이용한 팩토리얼 계산

```
1! = 1
2! = 1 * 2 = 1! * 2 
3! = 1 * 2 * 3 = 2! * 3
```

재귀 함수를 이용하여 다음 셀에 팩토리얼 함수를 직접 구현해봅시다.

(점화식에 대한 고민을 통해 코드 구현을 연습합니다.)

Case(1) = `1! = 1`

Case(2) = `2! = 1 * 2` = Case(1) * 2

Case(3) = `3! = 1 * 2 * 3` = Case(2) * 3

...

Case(N) = N! = 1 * 2 * 3 * ... * N = Case(N-1) * N => N-1 단계까지의 결과 * N

이렇게 반복적인 구조 (이전 단계까지의 결과 * 현재 단계의 숫자)를 찾아내고, 이를 코드로 표현합니다.

```python
def 팩토리얼재귀(현재 단계의 숫자):
    만약, 현재 단계가 1 단계라면?
        더이상 재귀호출을 진행하지않고, 1을 반환합니다.
    그렇지 않은 경우에는 (현재 단계의 숫자 * 이전 단계의 재귀 함수의 실행 결과)를 반환합니다.
```

1 ~연산~ (case1(case2..(case3...(반복))))

In [25]:
def factorial(n):
    if n == 0: #반복되는 단계의 맨 첫 번째일때 반환 (ex. 1)
        return 1
    return n * factorial(n-1)

factorial(5)

120

In [26]:
def fact(n):
    num = n
    while n > 1:
        num = num * fact(n - 1) 
        return num
    return 1

fact(5)

120

def function(n):
    if # 점화식의 가장 작은 불씨일때를 판별하는 조건
        return # 가장 작은 불씨 반환
    return(function(n에서 순차적으로 변형될 n2 수식)을 활용한 점화식 규칙)

## [실습] 피보나치 수열

첫째 및 둘째 항이 1이며 그 뒤의 모든 항은 바로 앞 두 항의 합인 수열입니다. 

(0), 1, 1, 2, 3, 5, 8

> 피보나치 수열은 다음과 같은 점화식이 있습니다. 
>
> 피보나치 값을 리턴하는 두가지 방식의 코드를 모두 작성해주세요.
>

$$
\displaystyle F_0 = 0
$$


$$
\displaystyle F_1 = 1
$$

$$
F_n=F_{n-1}+F_{n-2}\qquad(n\in\{2,3,4,\dots\})
$$

1) `fib(n)` : 재귀함수

2) `fib_loop(n)` : 반복문 활용한 함수

---
```
예시 입력)
fib(10)

예시 호출)
55
```

In [ ]:
def fib(n):
    if n == 0: #발화점인 case(0)의 값이 0이므로
        return 0
    if n == 1 or n == 2: #한 번에 n-1과 n-2가 동시에 들어오면서 case(1)과 case(2)의 값이 1이므로
        return 1
    return fib(n - 1) + fib(n - 2) #10번째 피보나치 수열을 찾기 위해선 case(8)+case(9)이므로

## 패킹 (packing)

`x, *y = i, j, k`

* 대입문의 좌변 변수에 위치합니다.
* 우변의 객체 수가 좌변의 변수보다 많을 경우 객체를 순서대로 대입합니다.
* 나머지 항목들은 모두 별 기호(*) 표시된 변수에 리스트로 대입합니다.

In [27]:
x, *y = 1, 2, 3, 4
print(y)
print(type(y))

[2, 3, 4]
<class 'list'>

In [28]:
y = 1, 2, 3
print(type(y))

<class 'tuple'>

### print()의 sep, end

In [29]:
print('첫 번째 문장', '두 번째 문장', sep='/', end='끝!')

첫 번째 문장/두 번째 문장끝!

### 가변(임의) 인자 리스트(Arbitrary Argument Lists)

개수가 정해지지 않은 임의의 인자를 받기 위해서는 **함수를 정의할 때** 가변 인자 리스트`*args`를 활용합니다. 

가변 인자 리스트는 `tuple` 형태로 처리가 되며, 매개변수에 `*`로 표현합니다. 

---

**활용법**

```python
def func(a, b, *args):
```
> `*args` : 임의의 개수의 위치인자를 받음을 의미
> 
> 보통, 이 가변 인자 리스트는 매개변수 목록의 마지막에 옵니다.

In [32]:
def func(*args):
    return args
rlt = func(1, 2, 3)
print(rlt, type(rlt))

(1, 2, 3) <class 'tuple'>

### 가변(임의) 키워드 인자(Arbitrary Keyword Arguments)

정해지지 않은 키워드 인자들은 **함수를 정의할 때** 가변 키워드 인자 `**kwargs`를 활용합니다. 

가변 키워드 인자는 **`dict`** 형태로 처리가 되며, 매개변수에 `**`로 표현합니다. 

---

**활용법**

```python
def func(**kwargs):
```
> `**kwargs` : 임의의 개수의 키워드 인자를 받음을 의미합니다