In [2]:
import sys

a = ''
b = 'P'
c = 'PY'
d = '대'
print(sys.getsizeof(a))  # 49
print(sys.getsizeof(b))  # 50
print(sys.getsizeof(c))  # 51
print(sys.getsizeof(d))

49
50
51
76

### 문자열 뒤집기

In [3]:
s = 'Reverse this strings'
s = s[::-1]
s

'sgnirts siht esreveR'

In [4]:
s = 'abcd'
s = list(s)
s.reverse()
s = ''.join(s)
s

'dcba'

### 문자열 비교
* == 연산자와 is를 사용해 비교해보자
* == 연산자는 내부적으로 특수 메서드 __eq__()를 호출

In [6]:
s1 = 'abc'  # s1이 'abc'라는 애를 카리키고 있을 때, 'abc'는 수정할 수 없는 영역에.
s2 = 'abc'  # 'abc'는 수정할 수 없으므로 s1이 가리키는 애를 같이 가리킴
s3 = 'def'
s4 = s1
s5 = s1[:2] + 'c'  
# 'abc'이긴 하나, 슬라이싱으로 'ab'를 붙이기 시작하면 다른 주소에 만들어짐.

In [7]:
s1 == s2

True

In [8]:
s1 is s2

True

In [9]:
s1 == s5

True

In [10]:
s1 is s5

False

* ==는 내용물을 비교하고, is는 주소를 비교한다.

In [11]:
val = input()
check = list(val)
N = len(val)
for i in range(N//2):
    check[i], check[N-1-i] = check[N-1-i], check[i]
if ''.join(check) == val:
    print(True)
else:
    print(False)

eye
True

### 문자열 숫자를 정수로 변환하기
int()와 같은 atoi()함수 만들기 -> alphabet to integer

In [20]:
num = 6  # ==> '6'으로 바꾸려면
#  '0', '1', ... '6'
st = chr(ord('0') + num)
print(st, type(st))

6 <class 'str'>

In [25]:
num = 4567
num_str = ''
while num:
    digit = num % 10  # 한 자리수부터 뽑기
    num = num // 10  # 뽑고 나서 해당 자리 제거하기
    num_str = chr(ord('0') + digit) + num_str # 역순으로 붙이기

print(num_str, type(num_str))

4567 <class 'str'>

In [12]:
def atoi(s):
    i = 0
    for x in s:
        i = i*10 + ord(x) - ord('0')
    return i

s = '123'
a = atoi(s)
print(a + 1)

124

### 정수를 문자열 숫자로 변환하기
str()와 같은 itoa()함수 만들기 -> integer to alphabet

In [16]:
def itoa(lst):
    num = 0
    for val in lst:
        num = num * 10 + val  # 4 -> 40 + 5 -> 450 + 6 -> 4560 + 7
    return num

b = itoa([4, 5, 6, 7])
print(b)

4567